
<!-- partial, displayed on most pages
if logged in, shows buttons for logout, else, 
shows buttons for login/register -->
<% if (user_id) { %>
Logged in as: <%= user_id.email %>
<form method="POST" action="/logout" style="display: inline;">
	<button type="submit">Logout</button>
</form>
<% } else { %>
<form method="GET" action="/login">
	<button type="submit">Sign in</button>
</form>
<form method="GET" action="/register">
	<button type="submit">Register</button>
</form>
<% } %>
