<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<form method="POST" action="/register">	
		<input type="email" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<button type="submit" name="register">Register now!</button> 
	</form>
</body>
</html>