<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<% if (!user_id) { %>	
	<h2>Please sign in to view this Tiny URL</h2>
	<% } %>
	<% include partials/_headers.ejs %>
	<% if (user_id) { %>
	<form style="display: inline" method="GET" action="/urls">
    	<input type="submit" value="URL index">
    </form>
	<% } %>
	<% if (user_id) { %>
	<ul>
		<li>Shortened URL: <%= shortURL %> </li>
		<li> Long URL: <%= longURL %></li>
		<form style="display: inline" method="POST" action="/urls/<%= shortURL %>">
			<input id="update" type="text" name="update" placeholder="New URL">
			<button type="submit">Update</button>
		</form>
	</ul>
	<% } %>
</body>
</html>